name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 #v5.0.1
      with:
        go-version-file: ./go.mod
        cache-dependency-path: ./go.sum

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
